body { background-color: #343535;
	 font-family: Arial;
	  font-size: 1vw;
	}
h1 { 
		font-family: Arial;
		color: #0084B9;
		}

#target {
	background-color:#343535; 
	position: absolute; 
	top:0px; 
	left:0px;
}	

.koers {
	background-color:#fc4c02;
	border: 1px solid #fc4c02; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
}	
.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
}
 
.datagrid {
	font: normal 12px/100% Verdana, Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	border: 1px solid #fc4c02; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
}
.datagrid table td, 
.datagrid table th { 
	padding: 3px 10px; 
}
.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #Ffc4c02), color-stop(1, #fc4c02) );
	background:-moz-linear-gradient( center top, #fc4c02 5%, #fc4c02 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc4c02', endColorstr='#fc4c02');
	background-color:#fc4c02; 
	color:#FFFFFF; 
	font-size: 1vw; 
	font-weight: bold; 
	border-left: 1px solid #fc4c02; 
} 
.datagrid table thead th:first-child { 
	border: none; 
}
.datagrid table tbody td { 
	color: #000000; 
	border-left: 1px solid #fc4c02;
	font-size: 1vw;
	border-bottom: 1px solid #fc4c02;
	font-weight: normal; 
}

.datagrid table tbody tr { 
	/* color: #000000; 
	 border-left: 1px solid #fc4c02; 
	 font-size: 11px; */
	border-bottom: 1px solid #fc4c02;
	/* font-weight: normal; */
}

.datagrid table tbody td:first-child { 
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}

.datagrid table tfoot td { 
	color: #000000; 
	border-left: 1px solid #fc4c02;
	font-size: 1vw;
	border-bottom: 1px solid #fc4c02;
	font-weight: normal; 
}
/*.datagrid table tfoot td:first-child { 
	border-left: none; 
} */
.datagrid table tfoot tr:last-child td { 
	border-bottom: none; 
	background-color: #fc4c02;
}

