/* Foundation v2.1.4 http://foundation.zurb.com */


/* Artfully masterminded by ZURB  */


/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th {
    font-weight: bold;
    /* background-color: #fc4c02; */
    background-color: #6E6A66;
    border-left: 1px solid #000000;
    color: #000000;
    /* color: #ffb500; */
}


/* table td, table th { padding: 0px 0px; text-align: center; background-color:#fc4c02; border-left: 1px solid #000000;} */

table td {
    padding: 0px 1px;
    text-align: left;
    /* background-color: #fc4c02; */
    background-color: #6E6A66;
    border-left: 1px solid #000000;
    color: #ffb500;
    /* color: #ffb500; */
}

table tfoot,
table tr {
    border: 1px solid #000000;
}


/* Mobile */

@media only screen and (max-width: 767px) {
    table.responsive {
        margin-bottom: 0;
        text-shadow: 1px 0px #000000;
        border-radius: 25px;
    }
    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 35%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: 0px solid #6E6A66;
        border-left: 0px solid #6E6A66;
        color: #ffb500;
        text-shadow: 1px 0px #000000;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .pinned table {
        border-right: none;
        border-left: none;
        width: 100%;
    }
    .pinned table th,
    .pinned table td {
        white-space: nowrap;
    }
    .pinned td:last-child {
        border-bottom: 0;
    }
    div.table-wrapper {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-right: 0px solid #ccc;
    }
    div.table-wrapper div.scrollable {
        margin-left: 35%;
    }
    div.table-wrapper div.scrollable {
        overflow: scroll;
        overflow-y: hidden;
    }
    table.responsive td,
    table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }
    table.responsive th:first-child,
    table.responsive td:first-child,
    table.responsive td:first-child,
    table.responsive.pinned td {
        display: none;
    }
}