body {
    background-color: #6E6A66;
    font-family: Arial;
    font-size: 2vw;
    padding: 0px;
    right: 0px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #fc4c02;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-family: Arial;
    color: #0084B9;
}

#OuterDiv {
    background-color: #6E6A66;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
    overflow: hidden;
}

.responsive-image {
    height: auto;
    width: 100%;
}

.koers {
    /* background-color: #fc4c02; */
    background-color: #6E6A66;
    border: 0px solid #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    border: 0px solid;
}

.koers th {
    /* background-color: #fc4c02; */
    background-color: #6E6A66;
    /* color: #ffffff; */
    color: #ffb500;
    text-shadow: 1px 1px #000000;
}

.koers td {
    background-color: #ffffff;
    color: #000000;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    font-size: 3.2vw;
}

.blijfstaan {
    margin: 0;
    background-color: #6E6A66;
    border-bottom: 0px solid #ffffff;
    border-top: 0px solid #000000;
    box-shadow: 5px 5px 50px #6E6A66;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    font-size: 2vw;
}

@media only screen and (min-width: 767px) {
    table {
        border-collapse: collapse;
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        font-size: 1vw;
    }
    .blijfstaan {
        /* margin: 0;
    background-color: #6E6A66;
    border-bottom: 0px solid #ffffff;
    border-top: 0px solid #000000;
    box-shadow: 5px 5px 50px #6E6A66;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;*/
        font-size: 1vw;
    }
}